.textWrap {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  grid-gap: 5rem;
  display: flex;
}
.imgBlock {
  background-color: sandybrown;
  width: 100px;
  height: 130px;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 2px #000;
}

.text {
  text-align: center;
}

.blockForText {
  border-radius: 0%;
  height: 130px;
  margin-top: 10px;
  margin-bottom: 30px;
}
